/* font family van de opdrachtgever */ 
  @font-face {
    font-family: 'Bariol';
      src: url('../assets/Bariol_Bold.otf') format('opentype');
  }
    @font-face {
    font-family: 'Bariol-reg';
      src: url('../assets/Bariol_Regular.otf') format('opentype');
  }

:root {

  /* Fonts */
  --main-font: 'Bariol';
  --reg-font: 'Bariol-reg';

  /* Colors */
  --background-main: white;
  --background-sticky-elements: #224455;
  --background-list-items: #EEEEEE;
  --text-color-light: #224455;
  --text-color-dark: white;
  --active-svg: #29ff50;
  --active-link: rgba(41, 255, 80, 1);

  /* font-sizes */
  --font-size-labels: .7rem;
  --font-size-headings: 1.5rem;
  --font-size-body: 1rem;

  /* Borders */
  --border-radius: 20px;
  
  /* Sizes */
  --icon-width: 25px;

}


/* ---------------------------------General styling-----------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

html {
  background-color: var(--background-main);
  color: var(--text-color-light)
  
}

header, footer {
  background-color: var(--background-sticky-elements);
  color: var(--text-color-dark);
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.icon {
  width: 19px;
  height: 19px;
}

path, svg {
  fill: var(--text-color-dark);
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


/* ---------------------------------HOME-----------------------------------*/

/* Header */

header  {

  position: sticky;
  top: 0;
  width: 100%;
  height: 6vh;
  min-height: 60px;
  max-height: 100px;
  align-items: center;
  padding: 5px;
  margin-bottom:2vh;

  @media (min-width: 798px) {
    height: 10vh;
    min-height: 70px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-bottom: 0px;
    height: 100%;
  }

  ul {
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    grid-auto-flow: column;
    grid-template-columns: 33%;
    gap: 10px;
    width: 95%;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-header {
    justify-self: flex-start;

    svg {
      height: auto;
      width: 100%;
    }
  }
  
  .snappmap-list-header {
    justify-content: center;
  }

  .grid-view-header {
    justify-content: flex-end;
  }

  .menu-links,
  .search-bar,
  .account-icon {
    display: none;

    @media (min-width: 798px) {
      display: flex;
    }
  }

  svg {
    width: 20px;
    height: auto;
  }

  a,
  h4 {
    color: var(--text-color-dark);
  }

  .header-text-icon {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  
  /* Summery detail element general styles */

details {
  font-size: var(--font-size-headings);
  text-decoration: underline;
}

  .gridlist, .list-all-snaps {
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: var(--background-main);
    padding: 5px;
    gap: 10px;
    justify-content: left;
    cursor: pointer;
    
    @media (min-width: 798px) {
      padding: 15px;
    }

    li > button {
      display: flex;
      align-content: center;
      gap: 10px;
    }

    button {
      text-decoration: none;
      border: none;
      background-color: transparent;
    }

    a {
      text-decoration: none;
      border: none;
      background-color: transparent;
      color: var(--text-color-light);
    }

    svg > path {
      fill: var(--text-color-light)
    }
  }

  .grid-view-header details[open] > *:not(summary),
  .snappmap-list-header details[open] > *:not(summary) {

    display: flex;
    align-items: flex-start;
    position: fixed; 
    top: 7vh; 
    left: 0;
    width: 100vw;
  }

  /* issue voor safari gefixt */
  
  details summary {
    list-style: none; 
    display: flex;
    align-items: center;
  }

  summary::marker {
    content: none;
  }

  button>img {
    width: 15px;
    height: auto;
  }

  .gridselector {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }

  input {
    display: none;
    border: 3px #224455 solid;
    color: var(--text-color-light);
    width: 80vw;
    max-width: 20vw;
    border-radius: 50px;
    height: 8vh;
    max-height: 50px;
    min-height: 20px;

    @media (min-width: 798px) {
      display: flex;
    }

    &::placeholder {
      font-size: .8rem;
      padding-left: 10%;
      color: var(--text-color-light);
    }

    &::-webkit-textfield-decoration-container {
      padding-left: 10%;
    }
  }

  .gridselector .list-icon {
    display: none;
  }
}

/* Main */

.main-home, .snappmap {

  .inline-group {
    padding: 20px;
  }

  .snappmap-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0px 0px 20px 20px;

    svg {
      width: var(--icon-width);
      height: auto;
    }

    path {
      fill: var(--text-color-light);
    }
  }

  figure:nth-of-type(1) {
    display: flex;
    gap: 20px;

    figcaption {
      font-size: 1rem;
    }
  }
}

/* Grid View */

.images-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  margin: 0 auto;
  gap: 5px;

  @media (min-width: 498px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 798px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  figure > article {
    display: none;
  }
}

/* List view */

ul.images-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 10vh;
  align-items: start;

  @media (min-width: 598px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
  }
  
  li > figure {
    display: grid;               
    grid-template-columns: 39vw 1fr;        
    column-gap: 16px;
    align-items: center;
    background: var(--background-list-items);
    height: 10vh;

    img {
      height: 100%;               
      aspect-ratio: 1 / 1;        
      width: auto;               
      object-fit: cover;     
      display: block;   
    }
    
    article {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {   
        color: var(--text-color-light);
        font-size: 1.1rem;
      }
    }
    
    ul {
      display: flex;
      gap: 10%;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    figure *:not(img) {
      color: var(--text-color-light);
    }
  
    h4 {
      color: var(--text-color-light);
    }
  }
}

/* Footer */
footer {
  background-color: var(--background-sticky-elements);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  @media (min-width: 798px) {
    display: none;
  }

  nav {

    ul {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-auto-flow: column;
      width: 100%;
      padding: 10px 0px;

      li {
        display: flex;
        justify-content: center;
        flex-direction: column;

        a {
          display: flex;
          flex-direction: column;
          place-items: center;

        }

        a>svg {
          width: 25px;
          height: 25px;
          aspect-ratio: 1/1;
        }

        svg.active > path {
          fill: var(--active-svg);
        }
        
        p {
          color: var(--text-color-dark);
          font-size: .9rem;
          text-align: center;
        }
      }
    }
  }
}

/* ---------------------------------Zoekpagina-----------------------------------*/

/* Zoekpagina */

.main-zoeken {

  article {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }

  figure:nth-of-type(1) {
    display: flex;
    gap: 20px;
  }

  label {
    display: none;
  }

  input {
    margin: 0 auto;
    background-color: var(--background-main);
    color: var(--text-color-light);
    width: 80vw;
    max-width: 80vw;
    border-radius: 20px;
    min-height: 20px;
    height: 6vh;

    &::placeholder {
      font-size: .8rem;
      padding-left: 10%;
      color: var(--text-color-light);
    }

    &::-webkit-textfield-decoration-container {
      padding-left: 10%;
    }
  }
}

/* ---------------------------------Detailpagina-----------------------------------*/

/* header detailpagina */

.details-header {

  nav {

    ul {
      grid-template-columns: 1fr auto 1fr;
      width: 100%;
      width: 90vw;
    }
    
    ul.like-tomato-star {
      display: flex;
      justify-content: space-between;
      width: 40vw;
      align-items: center;
      gap: 20px;
      
    }

    svg {
      width: 25px;
      height: auto;
    }

    li.back-button {
      display: flex;
      justify-content: flex-start;
    }
  }
}


/* Detailpagina main */ 

.detail-page {

  article {
    margin: 20px;
    display: flex;
    place-self: start;
    margin-bottom: 20px;
    gap: 20px;
    
    svg {
      width: 20px;
      height: auto;
    }

    h3 { 
      color: var(--text-color-dark);
    }
  }

  img {
    display: flex;
    width: 90vw;

    @media (min-width: 498px) {
      width: 60%;
      height: auto;
    }
  }

  figure {
    display: flex;
    place-self: center;
    flex-direction: column;
    width: 90vw;
        
    @media (min-width: 498px) {
      flex-direction: row;
      gap: 20px;
    }
  }

  figcaption {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    height: 20%;

    @media (min-width: 498px) {
      flex-direction: column;
    }

    p {
      font-size: .8rem;
      background-color: var(--active-link);
      padding: 10px 20px;
    }
  }
}

/* ---------------------------------Groepspagina-----------------------------------*/

/* Groepspagina header */ 

.groups-header {
  display: grid;

  nav {
    width: 90vw;
    justify-self: center;
  }

  ul {
    grid-template-columns: 1fr auto 1fr;
    width: 100%;

    li:nth-of-type(1) {
      grid-column: 2;
    }

    li:nth-of-type(2) {
        grid-column: 3;
        justify-self: end;
      }
    }
  
  p {
    color: var(--text-color-dark);
    font-size: 1.4rem;
    font-weight: 600;
  }
}


/* Groepspagina main */ 

#your-groups {
  
  section {
    margin-top: 20px;
  } 
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid var(--text-color-light) 2px;
    padding: 10px;
    gap: 2vw;

    svg path {   
      fill: var(--text-color-light);
    }

    svg {
      width: 20px;
      height: auto;
    }

    .snappthis-logo {
      width: 8vw;
      height: auto;
    }

    article {
      flex-direction: column;
      
      h4 {
        color:var(--text-color-light);
        font-size: 1.5rem;
      }

      p {
        color:var(--text-color-light);
        font-size: 1.2rem;
        font-family: var(--reg-font)
      }
      .active {
        background-color: var(--background-sticky-elements);
        color: var(--text-color-dark);
        padding: 5px 10px;
        border-radius: 5px;
        font-family: var(--main-font);
      }
    }
    
    ul {
      flex-direction: row;

      li {
        border-bottom: none white 1px;
      }
    }
  }
}

/* ---------------------------------My-Account-----------------------------------*/

/* my-account header */ 

.account-header {
  display: grid;

  nav {
    width: 90vw;
    justify-self: center;
  }

  ul {
    grid-template-columns: 1fr auto 1fr;
    width: 100%;

    li:nth-of-type(1) {
      grid-column: 2;
    }

    li:nth-of-type(2) {
        grid-column: 3;
        justify-self: end;
        
      }
    }

    path {
      fill: var(--text-color-dark);
    }
  
  a {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  
  p {
    color: var(--text-color-dark);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
}


/* My-Account main */ 


#my-account {

  .personal-info {
    margin-top: 3vh;

    h2 {
      text-align: center;
      margin-bottom: 1vh
    }
  }

  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 70vw;

    li {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    
    p {
      background-color: var(--active-svg);
      padding: 10% 20%;
      border-radius: 20px;
    }
  }

  .snapps-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 3vh;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
    }

    svg { 
      width: 30px;
      height: auto;
    }

    a {
      text-decoration: none;
      color: var(--text-color-light);
    }

    path {
      fill: var(--text-color-light);
    }
  }

  .email {
    text-align: center;
    margin-top: 20px;
  }
}

.group-info {

  .snappmap-heading {
    width: 100vw;
    height:5vh;
    background-color: var(--background-main);
    display: flex;
    justify-content: center;
  }

  .like-tomato-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width:90vw;
    
    li {
      display: flex;
      gap: .4rem;
      align-items: center;
    }

    p {
      color: var(--text-color-dark);
    }

    h2 {
      color:var(--text-color-light);
    }
  }
}

.group-indicator {
  display: grid;
  width: 20vw;
  place-self: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color-light);

  svg {
    width: 20px;
    height: auto;

    path {
      fill: var(--text-color-light);
    }
  }
}

.group-list {
  display: flex;
  gap: 5px;
  width: 100vw;

  figure {
    display: flex;

    img {
      width: 20vw;
      height: auto;
    }
  }

  h2 {
  font-family: var(--reg-font);
  }
}

.group-preview {
  display: flex;
  width: 100vw;
}




/* ---------------------------------Settings-----------------------------------*/

/* Settings Main */ 

.settings-main {
  ul {
    width: 100vw;
    display: grid;
    
    li {
      width: 100vw;
      align-content: center;;
      height: 7vh;
      border-bottom: 1px solid var(--text-color-light);
    }

    p {
      color: var(--text-color-light);
      margin-left: 2vw;
      text-align: left;
    }

    svg {
      fill: var(--text-color-dark);
    }
  }
}

/* ---------------------------------Snappmap-----------------------------------*/

.snappmap {

  .capture-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .capture-button {
      width: 33vw;
      height: 33vw;
      border-radius: 50%;
      background-color: var(--active-svg);
      border: none;
    }

    svg {
      width: 13vw;
      height: auto
    }

    h3 {
      font-size: var(--font-size-headings)
    }
  }

  .group-top {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  svg:not(.capture) {
    width: 20px;

    path {
      fill: var(--text-color-light)
    }
  }
}

/* ---------------------------------Animations-----------------------------------*/

/* animations */

.images-list,
.images-grid {
  transition:
    all 1s ease-in-out;
}